.box-set {
  position: relative;
  width: 1296px;
  height: 725px;
  background: #777;
}

.box {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-sarif; 
	font-size: 18px;
}

.box-1{
	position: relative;
	width: 960px;
	height: 93px;
	color: #777;
	background: #ebebeb;
	text-align: center;
	left: 12.5%;
	top: 5px;

}

.box-2{
	position: relative;
	width: 960px;
	height: 93px;
	color: #777;
	background: #ebebeb;
	text-align: center;
	left: 12.5%;
}

.box-3{
	width: 403px;
    float:left;
    text-align: center;
    margin: 0 auto;
    height: 288px;
    	background-color: #ebebeb;
   	/* box alignment: center aligned; */
}

.box-4{
	width: 403px;
	float: right;
	text-align: center;
	height: 288px;
    	background-color: #ebebeb;
    /* box alignment: center aligned; */
    
}

.box-5{
	position: absolute;
	text-align: center;
	background: #777;
	margin: 0 auto;
	width: 365px;
	height: 191px;
	left: 15px;

}

.box-6{
	position: absolute;
	text-align: center;
	background: #ebebeb;
	width: 285px;
	height: 45px;
	left: 15px;
	top: 8px;

}

.box-7{
	position: absolute;
	text-align: center;
	background: #ebebeb;
	width: 285px;
	height: 45px;
	left: 15px;
	top: 65px;

}

.box-8{
	position: absolute;
	width: 960px;
	height: 93px;
	color: #777;
	background: #ebebeb;
	text-align: center;
	bottom: 0;
	left: 12.5%;

}